.hero {
  height: 764px;
  width: 100vw;
  background-image: url("/bg.png");
  padding-left: 9rem;
  padding-right: 9rem;
  background-size: cover;

  .intro {
    margin-top: 10rem;
    display: flex;
    align-items: center;
  }

  .name {
    font-weight: 700;
    font-size: 48px;
    color: #1f2937;
  }
  summary {
    font-weight: 400;
    font-size: 20px;
    color: #313131;
  }
  .dark {
    width: 230px;
    height: 48px;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #1f2937;
    color: #f9fafb;
    font-weight: 400;
    font-size: 16px;
    margin-right: 1rem;
    margin-top: 3rem;

    img {
      margin-left: 0.5rem;
    }
  }

  .light {
    width: 230px;
    height: 48px;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    background: rgba(249, 250, 251, 0.8);
    color: #1f2937;
    font-weight: 400;
    font-size: 16px;

    img {
      margin-left: 0.5rem;
    }
  }
  .mko {
    padding-left: 20rem;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10rem;
  padding-top: 2rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    display: inline-block;
    margin-right: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}
.about {
  background-image: url("/bg2.png");
  background-size: cover;
  padding-left: 25rem;
  margin-top: -1rem;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1f2937;
  }
  .summary {
    width: 616px;
    height: 210px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }
  .language {
    font-size: 24px;
    font-weight: 700;
  }
  .languages {
    font-size: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .technology {
    font-size: 24px;
    font-weight: 700;
  }
  .technologys {
    font-size: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  img {
  }
}
.project {
  padding-left: 9rem;

  background-color: darkkhaki;
}
.contact {
  background-image: linear-gradient(90deg, #8b5cf6 0%, #ec4899 43.9%);
  border-radius: 16px;

  padding-left: 9rem;

  .mail {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
  }
  button {
    width: 9rem;
    height: 4rem;
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    color: #1f2937;
  }
  .app {
    display: flex;

    background-color: indianred;
  }
  .github {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    border: 9px solid yellow;
    width: 30rem;
    cursor: pointer;
  }
}
