.hero {
  height: 764px;
  width: 100vw;
  background-image: url("/bg.png");
  padding-left: 9rem;
  padding-right: 9rem;
  background-size: cover;

  .intro {
    margin-top: 10rem;
    display: flex;
    align-items: center;
  }

  .name {
    font-weight: 700;
    font-size: 48px;
    color: #1f2937;
  }
  summary {
    font-weight: 400;
    font-size: 20px;
    color: #313131;
  }
  .dark {
    width: 230px;
    height: 48px;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #1f2937;
    color: #f9fafb;
    font-weight: 400;
    font-size: 16px;
    margin-right: 1rem;
    margin-top: 3rem;

    img {
      margin-left: 0.5rem;
    }
  }

  .light {
    width: 230px;
    height: 48px;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    background: rgba(249, 250, 251, 0.8);
    color: #1f2937;
    font-weight: 400;
    font-size: 16px;

    img {
      margin-left: 0.5rem;
    }
  }
  .mko {
    padding-left: 20rem;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
  z-index: 50;
  padding: 2rem 5rem;
  background-color: white;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    display: inline-block;
    margin-right: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}
.about {
  background-image: url("/bg2.png");
  background-size: cover;
  padding-left: 25rem;
  margin-top: -1rem;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1f2937;
  }
  .summary {
    width: 616px;
    height: 210px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }
  .language {
    font-size: 24px;
    font-weight: 700;
  }
  .languages {
    font-size: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .technology {
    font-size: 24px;
    font-weight: 700;
  }
  .technologys {
    font-size: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  img {
  }
}
.project {
  padding-left: 9rem;
  padding-top: 8rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  background-image: url("/bg.png");

  .workedon {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-top: 0.5rem;
  }

  .featured {
    padding: 0;
    margin: 0;
  }
  .card {
    display: flex;
    gap: 2rem;
    padding-bottom: 9rem;
    width: 100%;
    overflow-x: auto;
  }

  .projectcard {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    width: fit-content;
  }
  img {
    height: 20rem;
    width: 30rem;
  }
  button {
    margin-right: 0.5rem;
    background: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    border: 2px solid #e5e7eb;

    width: 90px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
  }
}
.contact {
  background-image: linear-gradient(90deg, #8b5cf6 0%, #ec4899 43.9%);
  border-radius: 16px;
  height: 25rem;
  margin: 9rem;
  padding-left: 5rem;
  width: 89rem;
  padding-top: 4rem;
  color: #f9fafb;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  .mail {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
  }
  button {
    width: 9rem;
    height: 4rem;
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    color: #1f2937;
  }
}
.socials {
  p {
    margin: auto;
    width: 57rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .github {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border: 1px solid rgb(180, 180, 176);
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    padding: 0.2rem;
  }
  .socialname {
    font-size: 1rem;
    flex-grow: 1;
    text-align: left;
  }
  .app {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: auto;
    width: 57rem;
    row-gap: 2rem;
  }
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 1rem;
  padding: 8px 208px;

  .copyright {
    color: #1f2937;
    font-weight: 500;
    font-size: 14px;
    font-family: "Manrope";
    padding-left: 2rem;
    width: 9rem;
    height: 1rem;
  }
  .name {
    width: 9rem;
    height: 1.5rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1f2937;
  }
}
